<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sbs.html</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="alternate" type="html" href="test.html">
</head>
<body>
  {% include 'include/top_menu.html' %}
    <h1>뉴스 리스트</h1>
    <table border="2" cellspacing ="0" cellpadding ="5">
        <thead>
            <th>번호</th>
            <th>제목</th>
            <th>날짜</th>


         </thead>
            <!--rentder_templete을 통해 변수를 키워드로 넘겨 줬던 data_list-->
                    {% for temp_dic in data_list %}
                    <!-- 파싱을 이용해 해당 키의 value값 가져오기-->
                     <!--temp_dic.[   ]는 sql쿼리문의 row명이 아닌 database.py 파일에서 사용된 key값의 명칭이다.-->
            <tr>
                <!--첫번째 테이블 news_idx값-->
                <td>{{temp_dic.news_idx}}</td>
                <td>
                  <a href = "news_info_sbs?news_idx={{temp_dic.news_idx}}">{{temp_dic.title}}
                </td>
                <td>{{temp_dic.pubDate}}</td>
            </tr>
            {% endfor %}
    </table>

    </form>
      <p>
            <a href="/">메인화면</a>
        </p>
</body>
</html>
